.input {
  border: 2px solid orange;
  outline: none;
  border-radius: 6px;
  width: 220px;
  height: 25px;
  padding: 0px 10px;
  transition: 0.2s;
}

.input:hover {
  box-shadow:
    rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px,
    rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px,
    rgba(240, 46, 170, 0.05) -25px 25px;
}
