@import url('./normolize.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-size: 1em;
  font-family: inherit;
}
button:hover {
  border-color: #646cff;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1576px;
}
