html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a,
img,
ol, ul, li,
form, label,
article, aside,
footer, header,
menu, nav, section,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside,
footer, header, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
