.card {
  width: min-content;
  padding: 5px 20px;
  border: 2px solid gray;
  border-radius: 6px;
}

.title {
  min-height: 60px;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.id {
  font-size: 0.8rem;
}

.imageWrapper {
  width: 200px;
  height: 350px;
  display: flex;
  justify-content: end;
  padding-top: 5px;
  padding-bottom: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 251, 0, 0.213);
}
